In [1]:
import pandas as pd

In [2]:
# Init signature: pd.Series(data=None,index=None,dtype=None,name=None,copy=False,fastpath=False,)
pd.Series?

In [2]:
s1 = pd.Series([1,2,3,4,5,6,7,8,9,10])

In [3]:
s1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
# we can give name to the series
# this is useful when you export the data in excel this will reflect as a column name
s1 = pd.Series([1,2,3,4,5,6,7,8,9,10], name = 'column1')

In [5]:
s1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: column1, dtype: int64

# Exporting data

In [ ]:
# how to export data in different format 

s1.to_tab --- check the list

In [ ]:
# if i want to save in csv format --- export

s1.to_csv('example.csv') --- give the name or the complete path

In [16]:
s1.to_csv('C:/Users/User/Desktop/PYTHON/example.csv', header = True)

In [6]:
d1 = {'Emp ID': 1001, 
         'Emp Name': 'John Shaw',
             'Dept': 'Finance', 
                  'Salary': 10000}

In [7]:
d1

{'Emp ID': 1001, 'Emp Name': 'John Shaw', 'Dept': 'Finance', 'Salary': 10000}

In [8]:
pd.Series(d1)

Emp ID           1001
Emp Name    John Shaw
Dept          Finance
Salary          10000
dtype: object

In [9]:
# NaN -- Not a Number --- is the missing value 
pd.Series(d1, index = ['a', 'b', 'c', 'd'])

a    NaN
b    NaN
c    NaN
d    NaN
dtype: object

In [10]:
# adding value to the series
s2 = pd.Series(d1, index = ['Emp ID','a', 'b', 'c', 'd'])

In [11]:
s2

Emp ID    1001
a          NaN
b          NaN
c          NaN
d          NaN
dtype: object

In [12]:
s2['a'] = 100

In [13]:
s2

Emp ID    1001
a          100
b          NaN
c          NaN
d          NaN
dtype: object

# Slicing & Indexing data: accessing the data from pandas series

In [ ]:
# slicing: [], .iloc[], .loc[]
# indexing: [], .loc[]
# mathematical operations: broadcasting is possible and we can do it directly

[], .iloc[], .loc[], .ix[]

.loc gets rows (or columns) with particular labels from the index.
.iloc gets rows (or columns) at particular positions in the index (so it only takes integers).
.ix usually tries to behave like loc but falls back to behaving like iloc if a label is not present in the index.

In [ ]:
[] and .ix[] --- are same

In [14]:
# Create pandas series
l1 = [24, 65, 34, 76, 98, 67]
s1 = pd.Series(l1, index = ['a', 'b', 'c', 'd', 'e', 'f'])

In [15]:
s1

a    24
b    65
c    34
d    76
e    98
f    67
dtype: int64

In [16]:
# get the 3rd element from the series
# .loc takes user defined index
s1.loc['c']

34

In [17]:
# we can write the same thing in this way also
s1['c']

34

In [18]:
# we can write the same thing in this way also
s1[2]

34

In [19]:
# .iloc takes default index
s1.iloc[2]

34

In [20]:
# get the elements at default index position from 3 till 5

s1[3:6]

d    76
e    98
f    67
dtype: int64

In [21]:
# or (.iloc is mostly done in slicing)
s1.iloc[3:6]

d    76
e    98
f    67
dtype: int64

In [22]:
# get the elements where value is greater than 50
s1 > 50

a    False
b     True
c    False
d     True
e     True
f     True
dtype: bool

In [23]:
s1[s1 > 50]

b    65
d    76
e    98
f    67
dtype: int64

In [24]:
# .iloc is mostly used while slicing hence it is giving error but if we want to do indexing then we can use .loc
# this is the reason why loc is very frequent
s1.iloc[s1 > 50]

ValueError: iLocation based boolean indexing cannot use an indexable as a mask

In [25]:
s1.loc[s1 > 50]

b    65
d    76
e    98
f    67
dtype: int64

In [26]:
# if we want to using iloc the we have to convert it to list

s1.iloc[list(s1 > 50)]

b    65
d    76
e    98
f    67
dtype: int64

In [27]:
# broadcasting is possible 

s1 + 100

a    124
b    165
c    134
d    176
e    198
f    167
dtype: int64

In [28]:
# indexing on multiple conditions: get the elements where value is greater than 50 and less than 90
# bitwise operators

s1

a    24
b    65
c    34
d    76
e    98
f    67
dtype: int64

In [29]:
(s1 > 50) & (s1 < 90)

a    False
b     True
c    False
d     True
e    False
f     True
dtype: bool

In [30]:
s1[(s1 > 50) & (s1 < 90)]

b    65
d    76
f    67
dtype: int64

In [ ]:
# Data analysis 

data loading: data import
    
inspection of the metadata:
    column/field/variable names
    no of rows/records/observations and column 
    data types
    
data inspection:
    shapes of the data
    how many records
    distribution plots
    discriptives
    
    type conversion  functions
    
data cleaning 
    structure based 
        subsetting (selecting some columns from complete data/extracting): .columnname, [] .loc[:, ], .iloc[:, ]
        reordering the variables : [] .loc[:, ], .iloc[:, ]
        rename : .rename     df.columns = ['col1', 'col2', ...']
        drop/delete the column : .drop(columns = []), .drop(label = [], axis = 1)
        new columns: derived variable (calculations) : assign(), df['columnname'] = value    
    
    data/content based
        filters : [] .loc[], .iloc[]
        sort : sort_values(), sort_index()
        duplicates : drop_duplicates(), duplicated()
                                               
        missing values
        outliers
        groups/bins
        transformations
    
    combining the data
        joins/merge
        append
           
        datetime
        string 
                                           
summaries: aggregtions
plots
    plots/distributions
    
data mining
patterns in the data

formatting -- reports

data modelling

# Create pandas DataFrame

In [31]:
# creating dataframe

d1 = {'EmpId': [1001, 1002],
         'EmpName': ['John', 'Andrew']}

In [32]:
d1

{'EmpId': [1001, 1002], 'EmpName': ['John', 'Andrew']}

In [33]:
pd.DataFrame(d1)

   EmpId EmpName
0   1001    John
1   1002  Andrew

# Importing data and analysing (metadata)

In [ ]:
# to import the data 

pd.read_tab and check the options available...

In [34]:
# cvs files are known as FLAT files bcz they dont contain any format hence the size of the csv file is less

pd.read_csv('C:/Users/User/Desktop/PYTHON/Data Sets/stores.csv')

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2
8,STR109,Electronics Zone,Electronincs,Chennai,22.8,40,140.8,95,3.92,3.150,22.90,1,0,4,2
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4
10,STR111,Super Bazar,Super Market,Chennai,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4
11,STR112,Super Market,Super Market,Chennai,16.4,80,275.8,180,NaN,4.070,17.40,0,0,3,3
12,STR113,Central Store,Super Market,Chennai,17.3,80,275.8,180,NaN,3.730,17.60,0,0,3,3
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.780,18.00,0,0,3,3
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40,78.7,66,4.08,2.200,19.47,1,1,4,1
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,1,1,4,2
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,1,1,4,1
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,1,0,3,1
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80,318.0,150,2.76,3.520,16.87,0,0,3,2
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80,304.0,150,3.15,3.435,17.30,0,0,3,2
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80,350.0,245,3.73,3.840,15.41,0,0,3,4
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2
25,STR126,Apparel Zone,Apparel,Kolkata,27.3,40,79.0,66,4.08,1.935,18.90,1,1,4,1
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.140,16.70,0,1,5,2
27,STR128,Super Market,Super Market,Kolkata,30.4,40,95.1,113,3.77,1.513,16.90,1,1,5,2
28,STR129,Central Store,Super Market,Kolkata,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.780,18.60,1,1,4,2

In [35]:
# storing the data under a stores
stores = pd.read_csv('C:/Users/User/Desktop/PYTHON/Data Sets/stores.csv')

In [36]:
stores

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2
8,STR109,Electronics Zone,Electronincs,Chennai,22.8,40,140.8,95,3.92,3.150,22.90,1,0,4,2
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4
10,STR111,Super Bazar,Super Market,Chennai,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4
11,STR112,Super Market,Super Market,Chennai,16.4,80,275.8,180,NaN,4.070,17.40,0,0,3,3
12,STR113,Central Store,Super Market,Chennai,17.3,80,275.8,180,NaN,3.730,17.60,0,0,3,3
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.780,18.00,0,0,3,3
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40,78.7,66,4.08,2.200,19.47,1,1,4,1
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,1,1,4,2
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,1,1,4,1
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,1,0,3,1
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80,318.0,150,2.76,3.520,16.87,0,0,3,2
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80,304.0,150,3.15,3.435,17.30,0,0,3,2
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80,350.0,245,3.73,3.840,15.41,0,0,3,4
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2
25,STR126,Apparel Zone,Apparel,Kolkata,27.3,40,79.0,66,4.08,1.935,18.90,1,1,4,1
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.140,16.70,0,1,5,2
27,STR128,Super Market,Super Market,Kolkata,30.4,40,95.1,113,3.77,1.513,16.90,1,1,5,2
28,STR129,Central Store,Super Market,Kolkata,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.780,18.60,1,1,4,2

In [37]:
type(stores)

pandas.core.frame.DataFrame

In [ ]:
# Now check the details of the data 
To check the columns

In [38]:
stores.columns

Index(['StoreCode', 'StoreName', 'StoreType', 'Location', 'OperatingCost',
       'Staff_Cnt', 'TotalSales', 'Total_Customers', 'AcqCostPercust',
       'BasketSize', 'ProfitPercust', 'OwnStore', 'OnlinePresence', 'Tenure',
       'StoreSegment'],
      dtype='object')

In [39]:
# shape -- 32 rows and 15 columns
stores.shape

(32, 15)

In [40]:
# datatypes

stores.dtypes

StoreCode           object
StoreName           object
StoreType           object
Location            object
OperatingCost      float64
Staff_Cnt            int64
TotalSales         float64
Total_Customers      int64
AcqCostPercust     float64
BasketSize         float64
ProfitPercust      float64
OwnStore             int64
OnlinePresence       int64
Tenure               int64
StoreSegment         int64
dtype: object

In [41]:
# info() --- gives the complete metadata
# columns, rows, missing values, data type of each column, frequency table to show the different data types and memory usage
# here under 'AcqCostPercust' there are 29 values that are "non-null" which means there are 3 missing values (32 - 29 = 3) 
stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 15 columns):
StoreCode          32 non-null object
StoreName          32 non-null object
StoreType          32 non-null object
Location           32 non-null object
OperatingCost      32 non-null float64
Staff_Cnt          32 non-null int64
TotalSales         32 non-null float64
Total_Customers    32 non-null int64
AcqCostPercust     29 non-null float64
BasketSize         32 non-null float64
ProfitPercust      32 non-null float64
OwnStore           32 non-null int64
OnlinePresence     32 non-null int64
Tenure             32 non-null int64
StoreSegment       32 non-null int64
dtypes: float64(5), int64(6), object(4)
memory usage: 3.8+ KB

In [42]:
# describe --- this also gives statistical details about the data
# count, mean, std, min, 25%, 50%, 75%, max

stores.describe()

,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
count,32.000000,32.000000,32.000000,32.000000,29.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000
mean,20.090625,61.875000,230.721875,146.687500,3.651034,3.217250,17.848750,0.437500,0.406250,3.687500,2.625000
std,6.026948,17.859216,123.938694,68.562868,0.532664,0.978457,1.786943,0.504016,0.498991,0.737804,1.211504
min,10.400000,40.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.000000
25%,15.425000,40.000000,120.825000,96.500000,3.150000,2.581250,16.892500,0.000000,0.000000,3.000000,2.000000
50%,19.200000,60.000000,196.300000,123.000000,3.730000,3.325000,17.710000,0.000000,0.000000,4.000000,2.000000
75%,22.800000,80.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.000000
max,33.900000,80.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,4.000000

# Data cleaning steps

In [ ]:
# data cleaning 
    structure based 
        subsetting(selecting some columns from complete data/extracting): [], .iloc[], .loc[], .columnname
        reordering the variables
        rename: 
        drop/delete the column
        new columns: derived variable (calculations)

In [ ]:
Functions 
.head() --- will simpaly give the top 5 records by default but we can check for more than that. It can be used only in case of 
        series or dataframe
.tail() --- will simpily give the bottom 5 records by default but we can check for more than that

In [43]:
stores

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2
8,STR109,Electronics Zone,Electronincs,Chennai,22.8,40,140.8,95,3.92,3.150,22.90,1,0,4,2
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4
10,STR111,Super Bazar,Super Market,Chennai,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4
11,STR112,Super Market,Super Market,Chennai,16.4,80,275.8,180,NaN,4.070,17.40,0,0,3,3
12,STR113,Central Store,Super Market,Chennai,17.3,80,275.8,180,NaN,3.730,17.60,0,0,3,3
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.780,18.00,0,0,3,3
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40,78.7,66,4.08,2.200,19.47,1,1,4,1
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,1,1,4,2
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,1,1,4,1
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,1,0,3,1
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80,318.0,150,2.76,3.520,16.87,0,0,3,2
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80,304.0,150,3.15,3.435,17.30,0,0,3,2
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80,350.0,245,3.73,3.840,15.41,0,0,3,4
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2
25,STR126,Apparel Zone,Apparel,Kolkata,27.3,40,79.0,66,4.08,1.935,18.90,1,1,4,1
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.140,16.70,0,1,5,2
27,STR128,Super Market,Super Market,Kolkata,30.4,40,95.1,113,3.77,1.513,16.90,1,1,5,2
28,STR129,Central Store,Super Market,Kolkata,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.780,18.60,1,1,4,2

In [44]:
# want to extract 1 column

stores['StoreType']

0     Electronincs
1          Apparel
2     Super Market
3     Super Market
4     Super Market
5          Apparel
6          Apparel
7     Electronincs
8     Electronincs
9          Apparel
10    Super Market
11    Super Market
12    Super Market
13         Apparel
14         Apparel
15    Electronincs
16    Electronincs
17         Apparel
18    Super Market
19    Super Market
20    Super Market
21         Apparel
22         Apparel
23    Electronincs
24    Electronincs
25         Apparel
26    Super Market
27    Super Market
28    Super Market
29         Apparel
30         Apparel
31    Electronincs
Name: StoreType, dtype: object

In [45]:
# type is series as it is 1 column

type(stores['StoreType'])

pandas.core.series.Series

In [46]:
# If you want to get the bottom 5 records by default -- using .tail()

stores['StoreType'].tail()

27    Super Market
28    Super Market
29         Apparel
30         Apparel
31    Electronincs
Name: StoreType, dtype: object

In [47]:
# If we want to select the bottom records as per our choice 

stores['StoreType'].tail(3)

29         Apparel
30         Apparel
31    Electronincs
Name: StoreType, dtype: object

In [48]:
# same thing can be extracted using .loc & array

stores.loc[:, 'StoreType']

0     Electronincs
1          Apparel
2     Super Market
3     Super Market
4     Super Market
5          Apparel
6          Apparel
7     Electronincs
8     Electronincs
9          Apparel
10    Super Market
11    Super Market
12    Super Market
13         Apparel
14         Apparel
15    Electronincs
16    Electronincs
17         Apparel
18    Super Market
19    Super Market
20    Super Market
21         Apparel
22         Apparel
23    Electronincs
24    Electronincs
25         Apparel
26    Super Market
27    Super Market
28    Super Market
29         Apparel
30         Apparel
31    Electronincs
Name: StoreType, dtype: object

In [49]:
# If you want to get the top 5 records by default -- using .head()

stores.loc[:, 'StoreType'].head()

0    Electronincs
1         Apparel
2    Super Market
3    Super Market
4    Super Market
Name: StoreType, dtype: object

In [50]:
# we can select the records as per our requirement

stores.loc[:, 'StoreType'].head(7)

0    Electronincs
1         Apparel
2    Super Market
3    Super Market
4    Super Market
5         Apparel
6         Apparel
Name: StoreType, dtype: object

In [51]:
# Same thing can be extracted using .iloc & indexing 

stores.iloc[:, 2].head()

0    Electronincs
1         Apparel
2    Super Market
3    Super Market
4    Super Market
Name: StoreType, dtype: object

In [52]:
# Same thing can be extracted using .columnname
# This syntex can be used to get a single column only
# If the name has any special character or space then also it will not work

stores.StoreType.head()

0    Electronincs
1         Apparel
2    Super Market
3    Super Market
4    Super Market
Name: StoreType, dtype: object

In [53]:
stores.head()

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2

In [54]:
# Now lets extract 2 columns
# we can do slicing 

stores[['StoreType', 'Location']].head()

      StoreType Location
0  Electronincs    Delhi
1       Apparel    Delhi
2  Super Market    Delhi
3  Super Market    Delhi
4  Super Market    Delhi

In [55]:
# type is dataframe bcz it is more than one column

type(stores[['StoreType', 'Location']])

pandas.core.frame.DataFrame

In [56]:
# single value -- give without list 
# multiple values -- give in the form of list
# If you want to go with indexs go with iloc and if you want to go with name use .loc

stores.loc[:, ['StoreType', 'Location']].head()

      StoreType Location
0  Electronincs    Delhi
1       Apparel    Delhi
2  Super Market    Delhi
3  Super Market    Delhi
4  Super Market    Delhi

In [57]:
# Reordering and subsetting is done -- slicing & reordering of the data
# If you want to go with indexs go with iloc and if you want to go with name use .loc

stores.iloc[:, [1, 4, 2, 6, 8, 3]].head()

,StoreName,OperatingCost,StoreType,TotalSales,AcqCostPercust,Location
0,Electronics Zone,21.0,Electronincs,160.0,3.90,Delhi
1,Apparel Zone,21.0,Apparel,160.0,3.90,Delhi
2,Super Bazar,22.8,Super Market,108.0,3.85,Delhi
3,Super Market,21.4,Super Market,258.0,3.08,Delhi
4,Central Store,18.7,Super Market,360.0,3.15,Delhi

In [ ]:
# to rename we can use dict
# old & new -- key & value

In [58]:
# rename

stores_new = stores[['Location', 'OperatingCost']].copy()

In [59]:
stores_new

   Location  OperatingCost
0     Delhi           21.0
1     Delhi           21.0
2     Delhi           22.8
3     Delhi           21.4
4     Delhi           18.7
5     Delhi           18.1
6     Delhi           14.3
7     Delhi           24.4
8   Chennai           22.8
9   Chennai           19.2
10  Chennai           17.8
11  Chennai           16.4
12  Chennai           17.3
13  Chennai           15.2
14  Chennai           10.4
15  Chennai           10.4
16   Mumbai           14.7
17   Mumbai           32.4
18   Mumbai           30.4
19   Mumbai           33.9
20   Mumbai           21.5
21   Mumbai           15.5
22   Mumbai           15.2
23   Mumbai           13.3
24  Kolkata           19.2
25  Kolkata           27.3
26  Kolkata           26.0
27  Kolkata           30.4
28  Kolkata           15.8
29  Kolkata           19.7
30  Kolkata           15.0
31  Kolkata           21.4

In [79]:
# Signature:stores_new.rename(mapper=None, index=None, columns=None, axis=None, copy=True, inplace=False, level=None,)
# Docstring: Alter axes labels.

stores_new.rename?

In [60]:
# This is a temporary change and if we want to make permanent changes then we can use inplace = True as in the rename argument

stores_new.rename(columns = {'Location': 'Store Location', 'OperatingCost': 'Operating Cost' }).head(2)

  Store Location  Operating Cost
0          Delhi            21.0
1          Delhi            21.0

In [61]:
# we can see there is no permanent changes in the structure after rename when we call the stores_new. Original column names are 
# reflecting 

stores_new

   Location  OperatingCost
0     Delhi           21.0
1     Delhi           21.0
2     Delhi           22.8
3     Delhi           21.4
4     Delhi           18.7
5     Delhi           18.1
6     Delhi           14.3
7     Delhi           24.4
8   Chennai           22.8
9   Chennai           19.2
10  Chennai           17.8
11  Chennai           16.4
12  Chennai           17.3
13  Chennai           15.2
14  Chennai           10.4
15  Chennai           10.4
16   Mumbai           14.7
17   Mumbai           32.4
18   Mumbai           30.4
19   Mumbai           33.9
20   Mumbai           21.5
21   Mumbai           15.5
22   Mumbai           15.2
23   Mumbai           13.3
24  Kolkata           19.2
25  Kolkata           27.3
26  Kolkata           26.0
27  Kolkata           30.4
28  Kolkata           15.8
29  Kolkata           19.7
30  Kolkata           15.0
31  Kolkata           21.4

In [62]:
# now to make permanent change -- using inplace = True

stores_new.rename(columns = {'Location': 'Store Location', 'OperatingCost': 'Operating Cost' }, inplace = True)

In [63]:
# now when we call it we see there is a permanent change

stores_new

   Store Location  Operating Cost
0           Delhi            21.0
1           Delhi            21.0
2           Delhi            22.8
3           Delhi            21.4
4           Delhi            18.7
5           Delhi            18.1
6           Delhi            14.3
7           Delhi            24.4
8         Chennai            22.8
9         Chennai            19.2
10        Chennai            17.8
11        Chennai            16.4
12        Chennai            17.3
13        Chennai            15.2
14        Chennai            10.4
15        Chennai            10.4
16         Mumbai            14.7
17         Mumbai            32.4
18         Mumbai            30.4
19         Mumbai            33.9
20         Mumbai            21.5
21         Mumbai            15.5
22         Mumbai            15.2
23         Mumbai            13.3
24        Kolkata            19.2
25        Kolkata            27.3
26        Kolkata            26.0
27        Kolkata            30.4
28        Kolkata            15.8
29        Kolkata            19.7
30        Kolkata            15.0
31        Kolkata            21.4

In [64]:
# I want to create a new column 

stores

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2
8,STR109,Electronics Zone,Electronincs,Chennai,22.8,40,140.8,95,3.92,3.150,22.90,1,0,4,2
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4
10,STR111,Super Bazar,Super Market,Chennai,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4
11,STR112,Super Market,Super Market,Chennai,16.4,80,275.8,180,NaN,4.070,17.40,0,0,3,3
12,STR113,Central Store,Super Market,Chennai,17.3,80,275.8,180,NaN,3.730,17.60,0,0,3,3
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.780,18.00,0,0,3,3
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40,78.7,66,4.08,2.200,19.47,1,1,4,1
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,1,1,4,2
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,1,1,4,1
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,1,0,3,1
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80,318.0,150,2.76,3.520,16.87,0,0,3,2
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80,304.0,150,3.15,3.435,17.30,0,0,3,2
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80,350.0,245,3.73,3.840,15.41,0,0,3,4
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2
25,STR126,Apparel Zone,Apparel,Kolkata,27.3,40,79.0,66,4.08,1.935,18.90,1,1,4,1
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.140,16.70,0,1,5,2
27,STR128,Super Market,Super Market,Kolkata,30.4,40,95.1,113,3.77,1.513,16.90,1,1,5,2
28,STR129,Central Store,Super Market,Kolkata,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.780,18.60,1,1,4,2

In [65]:
# i want to get the total cost 
(stores.Total_Customers * stores.AcqCostPercust) + stores.OperatingCost

0      450.00
1      450.00
2      380.85
3      360.20
4      569.95
5      307.90
6      800.75
7      253.18
8      395.20
9      501.36
10     499.96
11        NaN
12        NaN
13        NaN
14     611.05
15     655.40
16     757.60
17     301.68
18     286.76
19     308.20
20     380.40
21     429.50
22     487.70
23     927.15
24     558.20
25     296.58
26     429.13
27     456.41
28    1129.88
29     653.20
30    1200.90
31     469.39
dtype: float64

In [66]:
# now i want to create a column using the above fromula 
# In this way i can add only one column at a time.
# In this the column name can atke space as it is given in ''

stores['CP1'] = (stores.Total_Customers * stores.AcqCostPercust) + stores.OperatingCost
stores['CP 1'] = (stores.Total_Customers * stores.AcqCostPercust) + stores.OperatingCost

In [65]:
stores

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment,CP1,CP 1
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4,450.00,450.00
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4,450.00,450.00
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1,380.85,380.85
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1,360.20,360.20
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2,569.95,569.95
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1,307.90,307.90
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4,800.75,800.75
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2,253.18,253.18
8,STR109,Electronics Zone,Electronincs,Chennai,22.8,40,140.8,95,3.92,3.150,22.90,1,0,4,2,395.20,395.20
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4,501.36,501.36
10,STR111,Super Bazar,Super Market,Chennai,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4,499.96,499.96
11,STR112,Super Market,Super Market,Chennai,16.4,80,275.8,180,NaN,4.070,17.40,0,0,3,3,NaN,NaN
12,STR113,Central Store,Super Market,Chennai,17.3,80,275.8,180,NaN,3.730,17.60,0,0,3,3,NaN,NaN
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.780,18.00,0,0,3,3,NaN,NaN
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4,611.05,611.05
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4,655.40,655.40
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4,757.60,757.60
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40,78.7,66,4.08,2.200,19.47,1,1,4,1,301.68,301.68
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,1,1,4,2,286.76,286.76
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,1,1,4,1,308.20,308.20
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,1,0,3,1,380.40,380.40
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80,318.0,150,2.76,3.520,16.87,0,0,3,2,429.50,429.50
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80,304.0,150,3.15,3.435,17.30,0,0,3,2,487.70,487.70
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80,350.0,245,3.73,3.840,15.41,0,0,3,4,927.15,927.15
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2,558.20,558.20
25,STR126,Apparel Zone,Apparel,Kolkata,27.3,40,79.0,66,4.08,1.935,18.90,1,1,4,1,296.58,296.58
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.140,16.70,0,1,5,2,429.13,429.13
27,STR128,Super Market,Super Market,Kolkata,30.4,40,95.1,113,3.77,1.513,16.90,1,1,5,2,456.41,456.41
28,STR129,Central Store,Super Market,Kolkata,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4,1129.88,1129.88
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4,653.20,653.20
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4,1200.90,1200.90
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.780,18.60,1,1,4,2,469.39,469.39

In [67]:
# you can see there is 1 column added. instead of 15 it is 16 now. 

stores.shape

(32, 17)

In [68]:
# check the last column

stores

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment,CP1,CP 1
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4,450.00,450.00
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4,450.00,450.00
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1,380.85,380.85
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1,360.20,360.20
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2,569.95,569.95
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1,307.90,307.90
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4,800.75,800.75
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2,253.18,253.18
8,STR109,Electronics Zone,Electronincs,Chennai,22.8,40,140.8,95,3.92,3.150,22.90,1,0,4,2,395.20,395.20
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4,501.36,501.36
10,STR111,Super Bazar,Super Market,Chennai,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4,499.96,499.96
11,STR112,Super Market,Super Market,Chennai,16.4,80,275.8,180,NaN,4.070,17.40,0,0,3,3,NaN,NaN
12,STR113,Central Store,Super Market,Chennai,17.3,80,275.8,180,NaN,3.730,17.60,0,0,3,3,NaN,NaN
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.780,18.00,0,0,3,3,NaN,NaN
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4,611.05,611.05
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4,655.40,655.40
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4,757.60,757.60
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40,78.7,66,4.08,2.200,19.47,1,1,4,1,301.68,301.68
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,1,1,4,2,286.76,286.76
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,1,1,4,1,308.20,308.20
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,1,0,3,1,380.40,380.40
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80,318.0,150,2.76,3.520,16.87,0,0,3,2,429.50,429.50
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80,304.0,150,3.15,3.435,17.30,0,0,3,2,487.70,487.70
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80,350.0,245,3.73,3.840,15.41,0,0,3,4,927.15,927.15
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2,558.20,558.20
25,STR126,Apparel Zone,Apparel,Kolkata,27.3,40,79.0,66,4.08,1.935,18.90,1,1,4,1,296.58,296.58
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.140,16.70,0,1,5,2,429.13,429.13
27,STR128,Super Market,Super Market,Kolkata,30.4,40,95.1,113,3.77,1.513,16.90,1,1,5,2,456.41,456.41
28,STR129,Central Store,Super Market,Kolkata,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4,1129.88,1129.88
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4,653.20,653.20
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4,1200.90,1200.90
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.780,18.60,1,1,4,2,469.39,469.39

In [71]:
# If we want to create a multiple column then 
# Signature: stores.assign(**kwargs)
# Docstring:Assign new columns to a DataFrame.
stores.assign?

In [69]:
# Using assign you can give multiple arguments to create multipe columns
# here the column name cannot take space as it is not given in ''

stores = stores.assign(CP2 = (stores.Total_Customers * stores.AcqCostPercust) + stores.OperatingCost, 
             CP3 = (stores.Total_Customers * stores.AcqCostPercust) + stores.OperatingCost)

In [70]:
stores

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment,CP1,CP 1,CP2,CP3
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4,450.00,450.00,450.00,450.00
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4,450.00,450.00,450.00,450.00
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1,380.85,380.85,380.85,380.85
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1,360.20,360.20,360.20,360.20
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2,569.95,569.95,569.95,569.95
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1,307.90,307.90,307.90,307.90
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4,800.75,800.75,800.75,800.75
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2,253.18,253.18,253.18,253.18
8,STR109,Electronics Zone,Electronincs,Chennai,22.8,40,140.8,95,3.92,3.150,22.90,1,0,4,2,395.20,395.20,395.20,395.20
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4,501.36,501.36,501.36,501.36
10,STR111,Super Bazar,Super Market,Chennai,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4,499.96,499.96,499.96,499.96
11,STR112,Super Market,Super Market,Chennai,16.4,80,275.8,180,NaN,4.070,17.40,0,0,3,3,NaN,NaN,NaN,NaN
12,STR113,Central Store,Super Market,Chennai,17.3,80,275.8,180,NaN,3.730,17.60,0,0,3,3,NaN,NaN,NaN,NaN
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.780,18.00,0,0,3,3,NaN,NaN,NaN,NaN
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4,611.05,611.05,611.05,611.05
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4,655.40,655.40,655.40,655.40
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4,757.60,757.60,757.60,757.60
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40,78.7,66,4.08,2.200,19.47,1,1,4,1,301.68,301.68,301.68,301.68
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,1,1,4,2,286.76,286.76,286.76,286.76
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,1,1,4,1,308.20,308.20,308.20,308.20
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,1,0,3,1,380.40,380.40,380.40,380.40
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80,318.0,150,2.76,3.520,16.87,0,0,3,2,429.50,429.50,429.50,429.50
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80,304.0,150,3.15,3.435,17.30,0,0,3,2,487.70,487.70,487.70,487.70
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80,350.0,245,3.73,3.840,15.41,0,0,3,4,927.15,927.15,927.15,927.15
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2,558.20,558.20,558.20,558.20
25,STR126,Apparel Zone,Apparel,Kolkata,27.3,40,79.0,66,4.08,1.935,18.90,1,1,4,1,296.58,296.58,296.58,296.58
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.140,16.70,0,1,5,2,429.13,429.13,429.13,429.13
27,STR128,Super Market,Super Market,Kolkata,30.4,40,95.1,113,3.77,1.513,16.90,1,1,5,2,456.41,456.41,456.41,456.41
28,STR129,Central Store,Super Market,Kolkata,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4,1129.88,1129.88,1129.88,1129.88
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4,653.20,653.20,653.20,653.20
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4,1200.90,1200.90,1200.90,1200.90
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.780,18.60,1,1,4,2,469.39,469.39,469.39,469.39

In [91]:
# drop -- Signature: stores.drop( labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise',)
# Docstring: Drop specified labels from rows or columns.
# but we will not delete any row or column while actually working on data bcz if we need that row or column later then we 
# will have to import the data. 
# we will do subsetting (extracting)of data instead of drop for this reason

stores.drop?

In [72]:
# to drop the column/rows 
# this is temporary change

stores.drop(columns = 'CP3')

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment,CP1,CP 1,CP2
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4,450.00,450.00,450.00
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4,450.00,450.00,450.00
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1,380.85,380.85,380.85
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1,360.20,360.20,360.20
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2,569.95,569.95,569.95
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1,307.90,307.90,307.90
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4,800.75,800.75,800.75
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2,253.18,253.18,253.18
8,STR109,Electronics Zone,Electronincs,Chennai,22.8,40,140.8,95,3.92,3.150,22.90,1,0,4,2,395.20,395.20,395.20
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4,501.36,501.36,501.36
10,STR111,Super Bazar,Super Market,Chennai,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4,499.96,499.96,499.96
11,STR112,Super Market,Super Market,Chennai,16.4,80,275.8,180,NaN,4.070,17.40,0,0,3,3,NaN,NaN,NaN
12,STR113,Central Store,Super Market,Chennai,17.3,80,275.8,180,NaN,3.730,17.60,0,0,3,3,NaN,NaN,NaN
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.780,18.00,0,0,3,3,NaN,NaN,NaN
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4,611.05,611.05,611.05
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4,655.40,655.40,655.40
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4,757.60,757.60,757.60
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40,78.7,66,4.08,2.200,19.47,1,1,4,1,301.68,301.68,301.68
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,1,1,4,2,286.76,286.76,286.76
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,1,1,4,1,308.20,308.20,308.20
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,1,0,3,1,380.40,380.40,380.40
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80,318.0,150,2.76,3.520,16.87,0,0,3,2,429.50,429.50,429.50
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80,304.0,150,3.15,3.435,17.30,0,0,3,2,487.70,487.70,487.70
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80,350.0,245,3.73,3.840,15.41,0,0,3,4,927.15,927.15,927.15
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2,558.20,558.20,558.20
25,STR126,Apparel Zone,Apparel,Kolkata,27.3,40,79.0,66,4.08,1.935,18.90,1,1,4,1,296.58,296.58,296.58
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.140,16.70,0,1,5,2,429.13,429.13,429.13
27,STR128,Super Market,Super Market,Kolkata,30.4,40,95.1,113,3.77,1.513,16.90,1,1,5,2,456.41,456.41,456.41
28,STR129,Central Store,Super Market,Kolkata,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4,1129.88,1129.88,1129.88
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4,653.20,653.20,653.20
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4,1200.90,1200.90,1200.90
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.780,18.60,1,1,4,2,469.39,469.39,469.39

In [73]:
# to drop the column/rows permanently

stores.drop(columns = 'CP3', inplace = True)

In [74]:
stores.head()

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment,CP1,CP 1,CP2
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4,450.00,450.00,450.00
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4,450.00,450.00,450.00
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1,380.85,380.85,380.85
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1,360.20,360.20,360.20
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2,569.95,569.95,569.95

In [ ]:
# In pandas

axis = 0 is row
axis = 1 is column

# In numpy 

axis = 0 is column
axis = 1 is row

In [75]:
# you can also drop the column in another way
# you can see CP2 is deleted

stores.drop(labels = ['CP2'], axis = 1)

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment,CP1,CP 1
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4,450.00,450.00
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4,450.00,450.00
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1,380.85,380.85
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1,360.20,360.20
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2,569.95,569.95
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1,307.90,307.90
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4,800.75,800.75
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2,253.18,253.18
8,STR109,Electronics Zone,Electronincs,Chennai,22.8,40,140.8,95,3.92,3.150,22.90,1,0,4,2,395.20,395.20
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4,501.36,501.36
10,STR111,Super Bazar,Super Market,Chennai,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4,499.96,499.96
11,STR112,Super Market,Super Market,Chennai,16.4,80,275.8,180,NaN,4.070,17.40,0,0,3,3,NaN,NaN
12,STR113,Central Store,Super Market,Chennai,17.3,80,275.8,180,NaN,3.730,17.60,0,0,3,3,NaN,NaN
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.780,18.00,0,0,3,3,NaN,NaN
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4,611.05,611.05
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4,655.40,655.40
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4,757.60,757.60
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40,78.7,66,4.08,2.200,19.47,1,1,4,1,301.68,301.68
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,1,1,4,2,286.76,286.76
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,1,1,4,1,308.20,308.20
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,1,0,3,1,380.40,380.40
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80,318.0,150,2.76,3.520,16.87,0,0,3,2,429.50,429.50
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80,304.0,150,3.15,3.435,17.30,0,0,3,2,487.70,487.70
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80,350.0,245,3.73,3.840,15.41,0,0,3,4,927.15,927.15
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2,558.20,558.20
25,STR126,Apparel Zone,Apparel,Kolkata,27.3,40,79.0,66,4.08,1.935,18.90,1,1,4,1,296.58,296.58
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.140,16.70,0,1,5,2,429.13,429.13
27,STR128,Super Market,Super Market,Kolkata,30.4,40,95.1,113,3.77,1.513,16.90,1,1,5,2,456.41,456.41
28,STR129,Central Store,Super Market,Kolkata,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4,1129.88,1129.88
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4,653.20,653.20
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4,1200.90,1200.90
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.780,18.60,1,1,4,2,469.39,469.39

In [76]:
# it delets 3 columns permanently

stores.drop(labels = ['CP1','CP 1', 'CP2'], axis = 1, inplace = True)

In [77]:
stores

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2
8,STR109,Electronics Zone,Electronincs,Chennai,22.8,40,140.8,95,3.92,3.150,22.90,1,0,4,2
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4
10,STR111,Super Bazar,Super Market,Chennai,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4
11,STR112,Super Market,Super Market,Chennai,16.4,80,275.8,180,NaN,4.070,17.40,0,0,3,3
12,STR113,Central Store,Super Market,Chennai,17.3,80,275.8,180,NaN,3.730,17.60,0,0,3,3
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.780,18.00,0,0,3,3
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40,78.7,66,4.08,2.200,19.47,1,1,4,1
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,1,1,4,2
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,1,1,4,1
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,1,0,3,1
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80,318.0,150,2.76,3.520,16.87,0,0,3,2
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80,304.0,150,3.15,3.435,17.30,0,0,3,2
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80,350.0,245,3.73,3.840,15.41,0,0,3,4
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2
25,STR126,Apparel Zone,Apparel,Kolkata,27.3,40,79.0,66,4.08,1.935,18.90,1,1,4,1
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.140,16.70,0,1,5,2
27,STR128,Super Market,Super Market,Kolkata,30.4,40,95.1,113,3.77,1.513,16.90,1,1,5,2
28,STR129,Central Store,Super Market,Kolkata,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.780,18.60,1,1,4,2

In [78]:
# to drop a row
# you can see that row 1 is deleted

stores.drop(1).head()

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1

In [ ]:
# data cleaning 
    data/content based
            filters
            sort
            duplicates
            missing values
            outliers
            groups/bins
            transformations

In [79]:
stores

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2
8,STR109,Electronics Zone,Electronincs,Chennai,22.8,40,140.8,95,3.92,3.150,22.90,1,0,4,2
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4
10,STR111,Super Bazar,Super Market,Chennai,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4
11,STR112,Super Market,Super Market,Chennai,16.4,80,275.8,180,NaN,4.070,17.40,0,0,3,3
12,STR113,Central Store,Super Market,Chennai,17.3,80,275.8,180,NaN,3.730,17.60,0,0,3,3
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.780,18.00,0,0,3,3
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40,78.7,66,4.08,2.200,19.47,1,1,4,1
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,1,1,4,2
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,1,1,4,1
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,1,0,3,1
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80,318.0,150,2.76,3.520,16.87,0,0,3,2
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80,304.0,150,3.15,3.435,17.30,0,0,3,2
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80,350.0,245,3.73,3.840,15.41,0,0,3,4
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2
25,STR126,Apparel Zone,Apparel,Kolkata,27.3,40,79.0,66,4.08,1.935,18.90,1,1,4,1
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.140,16.70,0,1,5,2
27,STR128,Super Market,Super Market,Kolkata,30.4,40,95.1,113,3.77,1.513,16.90,1,1,5,2
28,STR129,Central Store,Super Market,Kolkata,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.780,18.60,1,1,4,2

# Filtering

In [ ]:
# filters

Get records from stores where location is Delhi
Records form Kolkata where Totalsales > 100 and < 300
All stores codes and store Types from Chenni where OperatingCost > 15

In [80]:
# Get records from stores where location is Delhi

stores[stores.Location == 'Delhi']

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2

In [81]:
# Records form Kolkata where Totalsales > 100 and < 300

stores[(stores.Location == 'Kolkata') & (stores.TotalSales > 100) & (stores.TotalSales < 300)]

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.14,16.7,0,1,5,2
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.77,15.5,0,1,5,4
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.78,18.6,1,1,4,2

In [82]:
# All stores codes and store Types from Chenni where OperatingCost > 15 

stores[(stores.Location == 'Chennai') & (stores.OperatingCost > 15)][['StoreCode', 'StoreType']]

   StoreCode     StoreType
8     STR109  Electronincs
9     STR110       Apparel
10    STR111  Super Market
11    STR112  Super Market
12    STR113  Super Market
13    STR114       Apparel

In [83]:
# same thing can be written in another way

stores.loc[(stores.Location == 'Chennai') & (stores.OperatingCost > 15), ['StoreCode', 'StoreType']]

   StoreCode     StoreType
8     STR109  Electronincs
9     STR110       Apparel
10    STR111  Super Market
11    STR112  Super Market
12    STR113  Super Market
13    STR114       Apparel

# Sorting

In [ ]:
# sort - readibility and presentation 
# multiple sorting con be done only when there are duplicate values in the column

sort data acc to one column [Location asc]
sort data acc to one column [TotalSales desc]
sort data acc to two columns [Location, OperatingCost asc]
sort data acc to two columns [Location, TotalSales desc]
sort data acc to two columns [Location in asc, TotalSales in desc]

In [107]:
# sort_values -- Signature: stores.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last',)
# Docstring: Sort by the values along either axis

stores.sort_values?

In [84]:
# sort data acc to one column [Location asc]

stores.sort_values('Location', ascending = True).head()

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.780,18.00,0,0,3,3
12,STR113,Central Store,Super Market,Chennai,17.3,80,275.8,180,NaN,3.730,17.60,0,0,3,3
11,STR112,Super Market,Super Market,Chennai,16.4,80,275.8,180,NaN,4.070,17.40,0,0,3,3

In [85]:
# sort data acc to one column [TotalSales desc]

stores.sort_values('TotalSales', ascending = False).head()

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2

In [86]:
# sort data acc to two columns [Location, OperatingCost asc]
# stores.sort_values(['OperatingCost', 'Location']) --- not same as below 

stores.sort_values(['Location', 'OperatingCost'])

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.780,18.00,0,0,3,3
11,STR112,Super Market,Super Market,Chennai,16.4,80,275.8,180,NaN,4.070,17.40,0,0,3,3
12,STR113,Central Store,Super Market,Chennai,17.3,80,275.8,180,NaN,3.730,17.60,0,0,3,3
10,STR111,Super Bazar,Super Market,Chennai,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4
8,STR109,Electronics Zone,Electronincs,Chennai,22.8,40,140.8,95,3.92,3.150,22.90,1,0,4,2
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4
28,STR129,Central Store,Super Market,Kolkata,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.780,18.60,1,1,4,2
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.140,16.70,0,1,5,2
25,STR126,Apparel Zone,Apparel,Kolkata,27.3,40,79.0,66,4.08,1.935,18.90,1,1,4,1
27,STR128,Super Market,Super Market,Kolkata,30.4,40,95.1,113,3.77,1.513,16.90,1,1,5,2
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80,350.0,245,3.73,3.840,15.41,0,0,3,4
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80,304.0,150,3.15,3.435,17.30,0,0,3,2
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80,318.0,150,2.76,3.520,16.87,0,0,3,2
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,1,0,3,1
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,1,1,4,2
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40,78.7,66,4.08,2.200,19.47,1,1,4,1
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,1,1,4,1

In [87]:
# sort data acc to two columns [Location, TotalSales desc]

stores.sort_values(['Location', 'TotalSales'], ascending = False).head(1)

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4

In [88]:
# sort data acc to two columns [Location in asc, TotalSales in desc]

stores.sort_values(['Location', 'TotalSales'], ascending = [True, False], inplace = True)

In [89]:
stores

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4
11,STR112,Super Market,Super Market,Chennai,16.4,80,275.8,180,NaN,4.070,17.40,0,0,3,3
12,STR113,Central Store,Super Market,Chennai,17.3,80,275.8,180,NaN,3.730,17.60,0,0,3,3
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.780,18.00,0,0,3,3
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4
10,STR111,Super Bazar,Super Market,Chennai,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4
8,STR109,Electronics Zone,Electronincs,Chennai,22.8,40,140.8,95,3.92,3.150,22.90,1,0,4,2
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2
28,STR129,Central Store,Super Market,Kolkata,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.780,18.60,1,1,4,2
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.140,16.70,0,1,5,2
27,STR128,Super Market,Super Market,Kolkata,30.4,40,95.1,113,3.77,1.513,16.90,1,1,5,2
25,STR126,Apparel Zone,Apparel,Kolkata,27.3,40,79.0,66,4.08,1.935,18.90,1,1,4,1
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80,350.0,245,3.73,3.840,15.41,0,0,3,4
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80,318.0,150,2.76,3.520,16.87,0,0,3,2
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80,304.0,150,3.15,3.435,17.30,0,0,3,2
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,1,0,3,1
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40,78.7,66,4.08,2.200,19.47,1,1,4,1
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,1,1,4,2
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,1,1,4,1

In [123]:
# sort_index -- Signature: stores.sort_index(axis=0, level=None, ascending=True, inplace=False, kind='quicksort', 
        na_position='last', sort_remaining=True, by=None,)
# Docstring: Sort object by labels (along an axis)

stores.sort_index?

In [90]:
# sort on basis the index of rows

stores.sort_index(axis = 0, inplace = True)

In [91]:
stores

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,0,1,4,4
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.90,2.875,17.02,0,1,4,4
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,1,1,4,1
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,1,0,3,1
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,0,0,3,2
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,1,0,3,1
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,0,0,3,4
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,1,0,4,2
8,STR109,Electronics Zone,Electronincs,Chennai,22.8,40,140.8,95,3.92,3.150,22.90,1,0,4,2
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60,167.6,123,3.92,3.440,18.30,1,0,4,4
10,STR111,Super Bazar,Super Market,Chennai,17.8,60,167.6,123,3.92,3.440,18.90,1,0,4,4
11,STR112,Super Market,Super Market,Chennai,16.4,80,275.8,180,NaN,4.070,17.40,0,0,3,3
12,STR113,Central Store,Super Market,Chennai,17.3,80,275.8,180,NaN,3.730,17.60,0,0,3,3
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.780,18.00,0,0,3,3
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,0,0,3,4
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,0,0,3,4
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,0,0,3,4
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40,78.7,66,4.08,2.200,19.47,1,1,4,1
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,1,1,4,2
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,1,1,4,1
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,1,0,3,1
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80,318.0,150,2.76,3.520,16.87,0,0,3,2
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80,304.0,150,3.15,3.435,17.30,0,0,3,2
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80,350.0,245,3.73,3.840,15.41,0,0,3,4
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,0,0,3,2
25,STR126,Apparel Zone,Apparel,Kolkata,27.3,40,79.0,66,4.08,1.935,18.90,1,1,4,1
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.140,16.70,0,1,5,2
27,STR128,Super Market,Super Market,Kolkata,30.4,40,95.1,113,3.77,1.513,16.90,1,1,5,2
28,STR129,Central Store,Super Market,Kolkata,15.8,80,351.0,264,4.22,3.170,14.50,0,1,5,4
29,STR130,Apparel Zone,Apparel,Kolkata,19.7,60,145.0,175,3.62,2.770,15.50,0,1,5,4
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.570,14.60,0,1,5,4
31,STR132,Digital Bazar,Electronincs,Kolkata,21.4,40,121.0,109,4.11,2.780,18.60,1,1,4,2

In [92]:
# sort on basis the index of columns 

stores.sort_index(axis = 1).head(2)

,AcqCostPercust,BasketSize,Location,OnlinePresence,OperatingCost,OwnStore,ProfitPercust,Staff_Cnt,StoreCode,StoreName,StoreSegment,StoreType,Tenure,TotalSales,Total_Customers
0,3.9,2.620,Delhi,1,21.0,0,16.46,60,STR101,Electronics Zone,4,Electronincs,4,160.0,110
1,3.9,2.875,Delhi,1,21.0,0,17.02,60,STR102,Apparel Zone,4,Apparel,4,160.0,110

# Duplicates

In [93]:
# There are two methods to deal with duplicates

Score = pd.read_csv('C:/Users/User/Desktop/PYTHON/Data Sets/Score.csv')

In [94]:
Score

      Student  Section  Test1  Test2  Final
0   Capalleti        1     94     91     87
1      Dubose        2     51     65     91
2      Engles        1     95     97     97
3       Grant        2     63     75     80
4     Krupski        2     80     76     71
5   Lundsford        1     92     40     86
6      Mcbane        1     75     78     72
7   Capalleti        1     94     65     87
8      Dubose        2     51     65     91
9      Engles        1     95     97     97
10      Grant        2     63     75     80
11    Krupski        2     80     76     71
12  Lundsford        1     92     40     86
13     Mcbane        1     75     78     72

In [135]:
# drop_duplicates --- Signature: Score.drop_duplicates(subset=None, keep='first', inplace=False)
# Docstring: Return DataFrame with duplicate rows removed, optionally only considering certain columns.

Score.drop_duplicates?

In [95]:
# removing duplicate rows

Score.drop_duplicates()

     Student  Section  Test1  Test2  Final
0  Capalleti        1     94     91     87
1     Dubose        2     51     65     91
2     Engles        1     95     97     97
3      Grant        2     63     75     80
4    Krupski        2     80     76     71
5  Lundsford        1     92     40     86
6     Mcbane        1     75     78     72
7  Capalleti        1     94     65     87

In [96]:
# keeps the 1st set of duplicate values

Score.drop_duplicates(keep = 'first')

     Student  Section  Test1  Test2  Final
0  Capalleti        1     94     91     87
1     Dubose        2     51     65     91
2     Engles        1     95     97     97
3      Grant        2     63     75     80
4    Krupski        2     80     76     71
5  Lundsford        1     92     40     86
6     Mcbane        1     75     78     72
7  Capalleti        1     94     65     87

In [97]:
# keeps the last set of duplicate values

Score.drop_duplicates(keep = 'last')

      Student  Section  Test1  Test2  Final
0   Capalleti        1     94     91     87
7   Capalleti        1     94     65     87
8      Dubose        2     51     65     91
9      Engles        1     95     97     97
10      Grant        2     63     75     80
11    Krupski        2     80     76     71
12  Lundsford        1     92     40     86
13     Mcbane        1     75     78     72

In [98]:
# removes all the duplicate values

Score.drop_duplicates(keep = False)

     Student  Section  Test1  Test2  Final
0  Capalleti        1     94     91     87
7  Capalleti        1     94     65     87

In [99]:
# remove duplicate on basis of student column

Score.drop_duplicates('Student')

     Student  Section  Test1  Test2  Final
0  Capalleti        1     94     91     87
1     Dubose        2     51     65     91
2     Engles        1     95     97     97
3      Grant        2     63     75     80
4    Krupski        2     80     76     71
5  Lundsford        1     92     40     86
6     Mcbane        1     75     78     72

In [100]:
# remove duplicate on basis of student & section column

Score.drop_duplicates(['Student', 'Section'])

     Student  Section  Test1  Test2  Final
0  Capalleti        1     94     91     87
1     Dubose        2     51     65     91
2     Engles        1     95     97     97
3      Grant        2     63     75     80
4    Krupski        2     80     76     71
5  Lundsford        1     92     40     86
6     Mcbane        1     75     78     72

In [147]:
# duplicated --- Signature: Score.duplicated(subset=None, keep='first')
# Docstring: Return boolean Series denoting duplicate rows, optionally only considering certain columns.

Score.duplicated?

In [101]:
Score.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9      True
10     True
11     True
12     True
13     True
dtype: bool

In [102]:
# this will keep only the True values

Score[Score.duplicated()]

      Student  Section  Test1  Test2  Final
8      Dubose        2     51     65     91
9      Engles        1     95     97     97
10      Grant        2     63     75     80
11    Krupski        2     80     76     71
12  Lundsford        1     92     40     86
13     Mcbane        1     75     78     72

In [103]:
# if you use bitwise operator - over her then true will become false and false will become true

Score[- Score.duplicated()]

     Student  Section  Test1  Test2  Final
0  Capalleti        1     94     91     87
1     Dubose        2     51     65     91
2     Engles        1     95     97     97
3      Grant        2     63     75     80
4    Krupski        2     80     76     71
5  Lundsford        1     92     40     86
6     Mcbane        1     75     78     72
7  Capalleti        1     94     65     87

# Importing data from Excel

In [104]:
# Signature: pd.read_excel( io, sheet_name=0, header=0, names=None, index_col=None, parse_cols=None, usecols=None, 
    squeeze=False, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, 
    na_values=None, keep_default_na=True, verbose=False, parse_dates=False, date_parser=None, thousands=None, comment=None, 
    skip_footer=0, skipfooter=0, convert_float=True, mangle_dupe_cols=True, **kwds,)
# Docstring: Read an Excel file into a pandas DataFrame.

# sheet_name -- if you want to get data from specific sheet then mention this and if you dont mention then by default it 
    will take the 1st sheet

pd.read_excel?

# Connect to the RDBMS Servers

In [105]:
import pandas as pd

In [106]:
# to connect to RDBMS
# ODBC is the general driver that is required to connect any databases similarly in python it is pyodbc
# OLEBD - works only on microsoft object -- ignore for now
import pyodbc

In [ ]:
# To connect to sql server
# DRIVER={ODBC Driver 13 for SQL Server -- which driver u want to connect and based on the version i have i will use that 
particular type of driver from ODBC driver . eg i have in my system mssql server
# SERVER=MANUJKS;DATABASE=db_mar_19;Trusted_Connection=yes -- this is the connection string-SERVER, DATABASE, TRUSTED connection

sql_conn = pyodbc.connect('DRIVER={ODBC Driver 13 for SQL Server};SERVER=MANUJKS;DATABASE=db_mar_19;Trusted_Connection=yes')

In [ ]:
# once you get the data, you can do you work as it is

query = 'SELECT * FROM TBL_CUSTOMER ORDER BY FNAME_CUS;'
df = pd.read_sql(query, sql_conn)
df.head()

In [109]:
# Docstring: connect(str, autocommit=False, ansi=False, timeout=0, **kwargs) --> Connection
# Accepts an ODBC connection string and returns a new Connection object.
# To connect without requiring a DSN, specify the driver and connection
    information:   DRIVER={SQL Server};SERVER=localhost;DATABASE=testdb;UID=user;PWD=password

pyodbc.connect?

# input() & Kernel

In [ ]:
Assignment Question
# This is used to get the data from the user at the real time

input()

In [ ]:
# focus on the top right corner -- Python 3 O & at the left side of the cell -- In[]
# when this is executed Python 3 O becomes gray instead of white and the left of the cell shows In[*] and we get input box below
# This means we have Kernel concept, this means Kernal is getting input from the user. till the time you enter anything in the 
box below you will not be able to execute the next lines
# the input value will always be str even if you enter number
# If you dont want to give the input then click the interrupt the kernel button
# run and check

In [113]:
var = input()

Python

In [114]:
print(var)

Python

In [115]:
type(var)

str

In [116]:
var = input()

23

In [117]:
print(var)

23

In [118]:
type(var)

str

In [ ]:
# In assignment Q1 you have to give coma seperated values (CSV)

In [122]:
var = input()

10, 20, 30, 40

In [123]:
print(var)

10, 20, 30, 40

In [124]:
# this is a string not a tuple

var

'10, 20, 30, 40'

In [125]:
type(var)

str

In [ ]:
Now if you want to get the individual value from it then you have to use some of the text function

In [126]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [127]:
# If i want to keep those which dosent start with _ in dir list

print([x for x in dir(str) if not x.startswith('_')])

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']